<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wyz.xiyoug">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:supportsRtl="true"
        android:label="西邮控"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.InfoDetail_Activity" android:label=""  android:screenOrientation="portrait" />
        <activity android:name=".Activity.MyBorrowActivity" android:label=""   android:screenOrientation="portrait"/>
        <activity android:name=".Activity.MyCollectionActivity" android:label=""   android:screenOrientation="portrait"/>
        <activity android:name=".Activity.MyHistoryBorActivity" android:label=""   android:screenOrientation="portrait"/>
        <activity android:name=".Activity.BookSearchActivity" android:label=""   android:screenOrientation="portrait"/>
        <activity android:name=".Activity.BookDetailActivity"  android:label="" android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ScoreActivity"  android:label=""  android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ScanActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBarFullScreen"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activity.ScoreFailedActivity"  android:label="" android:screenOrientation="portrait"/>
        <activity android:name=".Activity.LabWebSiteActivity" android:label=""  android:screenOrientation="portrait"/>
        <activity android:name=".Activity.QuestionActivity" android:label="" android:screenOrientation="portrait"/>
        <activity android:name=".Activity.LibWebSiteActivity"  android:label="" android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ScoreWebSiteActivity"  android:label="" android:screenOrientation="portrait"/>
        <activity android:name=".Activity.SchoolWebSiteActivity"  android:label="" android:screenOrientation="portrait"/>
        <activity android:name=".Activity.FourLevelActivity"  android:label="" android:screenOrientation="portrait"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

</manifest>